.modal {
    position: relative;
    max-width: 40rem;
    max-height: 30rem;
    background-color: white;
    border: solid 0.05rem var(--border-color);
    box-shadow: 0 0 0.25rem #aaaaaa;
    padding: 1rem;
    border-radius: 1rem;
}

.closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
