.textbox {
    all: unset;
    display: flex;
    gap: 0.5rem;
    transition: background-color 80ms;
    border: solid 0.05rem var(--border-color);
    transition: border-color 80ms;

    &:focus {
        outline: solid 0.1rem blue;
        outline-offset: -0.1rem;
    }
}

.small {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.medium {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.fill {
    width: 100%;
}

.whiteTextbox
{
    background-color: rgba(254, 254, 254, 0.2);
}

.transTextbox
{
    background-color: transparent;
}
