.button {
    display: flex;
    gap: 0.5rem;
    transition: background-color 80ms;
    background-color: transparent;
    border: solid 0.05rem var(--border-color);
    transition: border-color 80ms;

    &:active {
        border-color: var(--border-color-darker)
    }

    &:focus-visible {
        outline: solid 0.25rem var(--accent-background)
    }
}

.small {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.medium {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}

.plain {
    background-color: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.13);
    }
}
