.container {
    display: flex;
    flex-direction: column;
    border: solid 0.05rem var(--border-color);
    border-radius: 1rem;
    max-width: 40rem;
    min-width: 30rem;
    width: max-content;
    flex-grow: 1;
    padding: 1rem;
    transition: transform 250ms;
    gap: 1rem;

    &:hover {
        transform: scale(1.05);
    }
}

.hoverButtonsBackground {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background: radial-gradient(ellipse at bottom right, white, transparent 75%);
    animation: hoverButtonsIntro 250ms;
}

@keyframes hoverButtonsIntro {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
}
