.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.z {display: flex; flex-direction: column}

.sectionText {
    font-weight: bold;
    color: var(--gray-text)
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: end;
}

.membersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
